:root {
  --main-dark: #27201A;
  --main-light: #CBBE8F;
  --dark-green: #2C2D19;
  --green: #68671A;
  --light-green: #A8B163;
  --orange: #DF4239;
  --light-orange: #F99D5c;
  --yellow: #EEAE3c;
  --light-yellow: #E2BD64;
  --magenta: #891a52;
  --light-magenta: #B44058;
}

body {
  background: var(--main-dark);
  color: var(--main-light);
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  margin: 60px 0 4% 0;
  max-height: 500px;
}

canvas:hover {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
