.filter_by_type {
  margin-bottom: 3%;
}

.filter_button {
  background-color: transparent;
  border-style: hidden;
  cursor: pointer;
  color: var(--green);
  font-size: 1.2em;
  margin: 20px 10px;
  outline: none;
  text-align: left;
}

.selected {
  border-style: solid;
  border-radius: 4px;
  color: var(--ligh-green);
}