.graph_card {
  border: 1px solid var(--dark-green);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 420px;
  justify-content: space-around;
  margin: 1%;
  padding: 1%;
  text-align: center;
  width: 500px;
}